.Accueilh1{

    text-align: center;
    color: #052f49;
    margin: 0 auto;
    padding-bottom: 1%;
    font-family: 'Jomhuria', cursive;
    font-size: 5em;
}
.Accueil{

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: #87CEEB;
    padding: 5%;

}
select{

    margin: 0 auto;
    cursor: pointer;

}

select>option:hover{

    cursor: pointer;
    
}